@import 'keep-react/src/main.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

/* tailwind css templates */

/* navbar li */
.nav-item {
  @apply text-lg text-secondary hover:text-punch-500 duration-500 font-semibold;
}
.nasted-nav-item {
  @apply py-2 px-3 hover:bg-punch-500 duration-500 hover:text-white;
}
.max-screen {
  @apply max-w-[1340px] mx-auto;
}

.primary-button {
  @apply lg:px-5 px-2 lg:py-2 py-1 font-semibold lg:text-[18px] text-[14px] rounded-full bg-punch-500 text-white border-2 border-transparent hover:text-punch-500 hover:bg-transparent hover:border-punch-500 duration-500 uppercase flex justify-center items-center gap-2;
}
