/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

@import 'keep-react/src/main.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

/* tailwind css templates */

/* navbar li */
.nav-item {
  @apply text-lg text-secondary hover:text-punch-500 duration-500 font-semibold;
}
.nasted-nav-item {
  @apply py-2 px-3 hover:bg-punch-500 duration-500 hover:text-white;
}
.max-screen {
  @apply max-w-[1340px] mx-auto;
}
.base-text {
  @apply text-[#6a738e] leading-8 text-[19px] max-w-[650px];
}

.primary-button {
  @apply lg:px-5 px-2 lg:py-2 py-1 font-semibold lg:text-[18px] text-[14px] rounded-full bg-punch-500 text-white border-2 border-transparent hover:text-punch-500 hover:bg-transparent hover:border-punch-500 duration-500 uppercase flex justify-center items-center gap-2;
}

/* index.css */

/* Override styles for the DatePicker input */
.react-datepicker__input-container input {
  /* Add your custom styles here */
  /* For example: */
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline-color: #fe3535;
  padding: 12px 0.75rem;
  width: 100%;
  height: 100%;
}

/* Override styles for the calendar icon */
.react-datepicker__input-container span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Override styles for the date picker wrapper */
.react-datepicker-wrapper {
  /* Add your custom styles here */
  /* For example: */
  width: 100%;
  margin-bottom: 10px;
}
